body {
  color: #181313;
  font-family: arial, verdana, sans-serif;
  background: #737375; }

header {
  font-family: Times New Roman, times, serif;
  color: #5a5a7c;
  font-size: 1.4em; }

h1, h3 {
  background-color: #5a5a7c;
  color: white;
  font-size: Times New Roman, times, serif;
  text-align: center;
  font: size 3rem; }

p {
  font-family: arial, verdana, sans-serif;
  font-size: 1.4em;
  padding: 1rem;
  text-align: center; }

h4 {
  color: white; }

.primerimagen {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid; }

img {
  transition: all 05s linear; }

img:hover {
  transform: scale(0.9); }

.imagen {
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor {
  width: 100%;
  margin: auto; }

.fotitos {
  width: 100%; }

.grid {
  margin: 5px; }

.fotos .contenedor {
  display: grid; }

footer {
  background-color: #5a5a7c; }

footer ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  text-align: center; }

footer ul li {
  display: inline-block; }

footer ul li a {
  color: white;
  display: block;
  padding: 20px 60px;
  text-decoration: none;
  font-size: 1em;
  font-family: Times New Roman, times, serif; }

footer ul li a:hover {
  background-color: #5a5a7c; }

.derechos {
  color: white;
  font-family: Times New Roman, times, serif;
  font-size: 1em;
  text-align: center; }

@media (min-width: 320px) {
  .inframe {
    width: 300px;
    height: 200px; }
  .fotos .contenedor {
    grid-template-columns: repeat(1, 100%); } }

@media (min-width: 520px) {
  .fotos .contenedor {
    grid-template-columns: repeat(2, 50%); } }

@media (min-width: 728px) {
  .fotos .contenedor {
    grid-template-columns: repeat(3, 33.3%); } }

@media (min-width: 1024px) {
  .fotos .contenedor {
    grid-template-columns: repeat(4, 25%); } }
