body {
  color: #181313;
  font-family: arial, verdana, sans-serif;
  background: #737375; }

header {
  font-family: Times New Roman, times, serif;
  color: #5a5a7c;
  font-size: 1.4em; }

h1, h3 {
  background-color: #5a5a7c;
  color: white;
  font-size: Times New Roman, times, serif;
  text-align: center;
  font: size 3rem; }

p {
  font-family: arial, verdana, sans-serif;
  font-size: 1.4em;
  padding: 1rem;
  text-align: center; }

h4 {
  color: white; }

.primerimagen {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid; }

.imagen {
  transition: all 05s linear; }

.imagen:hover {
  transform: scale(0.9); }

.slide {
  margin-top: 10px; }

.slide img {
  height: 65vh; }

.imagen {
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor {
  width: 100%;
  margin: auto; }

.fotitos {
  width: 100%; }

.grid {
  margin: 5px; }

.fotos .contenedor {
  display: grid; }

footer {
  background: #5a5959;
  height: auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

/*.footer-content h5{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}*/
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px; }

.sociales {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0; }

.sociales li {
  margin: 0 10px; }

.sociales a {
  text-decoration: none;
  color: #fff; }

.sociales a i {
  font-size: 1.1rem;
  transition: color .4s ease; }

.sociales a:hover i {
  color: aqua; }

.copyrith {
  background: #353333;
  width: 100w;
  padding: 20px 0;
  text-align: center; }

.copyrith p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize; }

@media screen and (min-width: 320px) {
  .inframe {
    width: 300px;
    height: 200px; }
  .fotos .contenedor {
    grid-template-columns: repeat(1, 100%); } }

@media screen and (min-width: 520px) {
  .fotos .contenedor {
    grid-template-columns: repeat(2, 50%); } }

@media screen and (min-width: 728px) {
  .fotos .contenedor {
    grid-template-columns: repeat(3, 33.3%); } }

@media screen and (min-width: 1024px) {
  .fotos .contenedor {
    grid-template-columns: repeat(4, 25%); } }
