footer{
    
    background-color:$color-titulos;
}
    
footer ul{    
            list-style:none ;    
            padding: 0%;
            margin: 0%;             
            text-align: center;           
            
}

footer ul li{
            display: inline-block;
                    
}

footer ul li  a{      
              color:white;
              display: block;
              padding: 20px 60px;       
              text-decoration: none;
              font-size:$fuente-normal;
              font-family:$tipografias-alternativa;
}

footer ul li a:hover{
                     background-color:$color-titulos;
                      
}
.derechos{
    color:white;
    font-family:$tipografias-alternativa;
    font-size:$fuente-normal;
    text-align:center;
}
                                

        

