$color-fondo:rgb(115, 115, 117);
$color-titulos:rgb(90, 90, 124);
$color-texto:rgb(24, 19, 19);

$espaciado-estandar:10px;

$fuente-normal: 1em;
$fuente-grande: 1.4em;

$tipografias-general: arial, verdana, sans-serif;
$tipografias-alternativa: Times New Roman,times, serif;