.pie{
    list-style: none;
    padding: 0%;
    background: #48388f;
    width: 100%;
    max-width:1000px;
    margin: auto;
    li{
        display: inline-block;
        text-align:center;
        text-decoration-line: none;
        a{
            text-decoration: none;
            color: white;
            padding: 20px;
            display: block;
        }
    }
}

$redes: (
    facebok:blue
    instagram:rgb(124, 18, 89)
    twiter:rgb(0, 255, 255)
);
@each $red,$color in redes {
    .red-#{$red} {
        color:$color;
    }
    
}
    
