.menu{
    list-style: none;
    padding: 0%;
    background: #22af35;
    width: 100%;
    max-width:1000px;
    margin: auto;
     li{
        display: inline-block;
        text-align:center;
        text-decoration-line: none;
         a{
            text-decoration: none;
            color: white;
            padding: 20px;
            display: block;
            
        }
    }


}
            

